<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="PoolNhibernateSection" type="rt.core.model.configuration.PoolNhibernateSection, rt.core.model, Culture=neutral" />
    <section name="SpecialCalendarDaysSection" type="rt.srz.model.configSection.productioncalendar.SpecialCalendarDayConfigurationSection, rt.srz.model,  Culture=neutral" />
    <section name="ProtocolSettingsSection" type="rt.uec.model.protocol.ProtocolSettingsSection, rt.uec.model, Culture=neutral" />
    <section name="exchangeSettings" type="rt.core.model.configuration.ExchangeSettings, rt.core.model, Culture=neutral" />
    <section name="migration" type="rt.core.model.configuration.MigratorConfiguration, rt.core.model, Culture=neutral" />
    <section name="synchronizationSettings" type="rt.atl.model.SynchronizationSettings, rt.atl.model, Culture=neutral" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="rt.srz.ui.pvp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="crystalQuartz" type="CrystalQuartz.Web.Configuration.CrystalQuartzConfigurationGroup">
      <section name="provider" type="CrystalQuartz.Web.Configuration.ProviderSectionHandler" requirePermission="false" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="Migrator" type="rt.srz.database.configuration.MigratorConfiguration, rt.srz.database, Culture=neutral" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="Configuration\ConnectionStrings.config" />
  <appSettings configSource="Configuration\AppSettings.config">
  </appSettings>
  <hibernate-configuration configSource="Configuration\HibernateConfiguration.config" />
  <StructureMap configSource="Configuration\StructureMap.config" />
  <nlog configSource="Configuration\NLog.config" />
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <PoolNhibernateSection>
    <FileNameConfigaration>
      <add Name="NHibernateCfgAtl.xml" />
    </FileNameConfigaration>
  </PoolNhibernateSection>
  <exchangeSettings configSource="Configuration\ExchangeSettings.config" />
  <migration configSource="Configuration\MigrationConfiguration.config" />
  <synchronizationSettings configSource="Configuration\SynchronizationSettings.config" />
  <SpecialCalendarDaysSection configSource="Configuration\SpecialCalendarDaySection.config" />
  <ProtocolSettingsSection configSource="Configuration\ProtocolSettingsSection.config" />
  <quartz configSource="Configuration\QuartzSettings.config" />
  <Migrator MigrationVersion="2" ProviderName="ECM7.Migrator.Providers.SqlServer.SqlServerTransformationProvider, ECM7.Migrator.Providers.SqlServer" />
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Administrations/SiteIsOffline.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources/settings.png">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    
    <httpRuntime maxRequestLength="51200" />
    
    <compilation tempDirectory="C:\Windows\Temp" debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Data.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v12.1.Core, Version=12.1.12.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGridView.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v12.1.Web, Version=12.1.12.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <sessionState mode="InProc" cookieless="false" timeout="100" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="Pages/Main.aspx" timeout="100" />
    </authentication>
    <membership defaultProvider="PDPMembershipProvider">
      <providers>
        <clear />
        <add name="PDPMembershipProvider" type="rt.srz.ui.pvp.Security.PDPMembershipProvider" protection="All" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" validate="false" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Pages/Main.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" name="CrystalQuartzPanel" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <bindings>
      <basicHttpBinding>
        <binding name="longMessageBindings" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="1073741824" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpEndpointName" maxReceivedMessageSize="2147483647" sendTimeout="00:05:00" receiveTimeout="00:05:00" />
        <binding name="longMessageBindings" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="1073741824">
          <reliableSession inactivityTimeout="01:00:00" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="longMessageBindings" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="1073741824" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="1073741824" />
          <reliableSession inactivityTimeout="01:00:00" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="rt.srz.services.Statement.StatementGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.IStatementService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.srz.services.SMO.SmoGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.ISmoService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.srz.services.Security.SecurityGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.ISecurityService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.srz.services.KLADR.KladrGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.IKladrService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.srz.services.Uir.UirGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.IUirService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.atl.services.AtlGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.atl.model.interfaces.Service.IAtlService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.srz.services.NSI.NsiGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.INsiService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.core.service.security.AuthGate" behaviorConfiguration="GateBehavior2">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" contract="rt.core.model.security.IAuthService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="rt.srz.services.Uec.UecGate" behaviorConfiguration="GateBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.uec.model.Interfaces.IUecService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8001/PseudonymizationService/" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointName" contract="rt.srz.model.interfaces.client.IPseudonymizationService" name="wsHttpEndpointName" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientdebug">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <MyMessageInspector />
        </behavior>
        <behavior name="protoEndpointBehavior">
          <protobuf />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="GateBehavior2">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="GateBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceAuthenticationManager serviceAuthenticationManagerType="rt.core.services.challenge.TokenAuthenticationManager, rt.core.services" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="rt.core.services.challenge.ChallengeAuthorizationPolicy, rt.core.services" />
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="defaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="MyMessageInspector" type="rt.core.services.wcf.MessageFaultInspector, rt.core.services, Culture=neutral" />
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
        <add name="ChallengeClientMessageInspector" type="rt.core.model.client.TokenMessageInspector, rt.core.model.client, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <crystalQuartz>
    <provider>
      <add property="Type" value="rt.core.business.quartz.SchedulerProvider, rt.core.business" />
    </provider>
    <!--    <provider>-->
    <!--      <add property="Type" value="CrystalQuartz.Spring.SpringSchedulerProvider, CrystalQuartz.Spring" />-->
    <!--      <add property="SchedulerName" value="scheduler" />-->
    <!--    </provider>-->
  </crystalQuartz>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.4000" newVersion="4.0.1.4000" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.7.123" newVersion="3.5.7.123" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5007.23725" newVersion="5.1.5007.23725" />
      </dependentAssembly>
     
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <rt.srz.ui.pvp.Properties.Settings>
      <setting name="n1" serializeAs="String">
        <value>123</value>
      </setting>
    </rt.srz.ui.pvp.Properties.Settings>
  </applicationSettings>
  <devExpress>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" />
    <errors callbackErrorRedirectUrl="" />
    <settings rightToLeft="false" />
  </devExpress>
</configuration>