<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="PoolNhibernateSection" type="rt.core.model.configuration.PoolNhibernateSection, rt.core.model" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Data Source=syurov; Initial Catalog=rt_fias_data;User ID=pvp;Password=elianora" providerName="" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="command_timeout">300</property>
      <mapping assembly="rt.fias.business" />
    </session-factory>
  </hibernate-configuration>
  <StructureMap>
    <Registry Type="rt.core.business.registry.CoreRegistry, rt.core.business" />
    <Registry Type="rt.core.business.registry.NHibernateRegistry, rt.core.business" />
    <Registry Type="rt.fias.business.registry.RepositoryRegistry, rt.fias.business" />
  </StructureMap>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncConsole" xsi:type="AutoFlushWrapper">
        <target xsi:type="ColoredConsole" name="console" layout="${logger}: ${message}${exception:format=ToString,StackTrace}">
        </target>
      </target>
      <target name="asyncFile" xsi:type="AutoFlushWrapper">
        <target name="file" xsi:type="File" fileName="D:\workingExchange\logs\console.${level}.log" layout="${longdate}: ${logger}: ${message}${exception:format=ToString,StackTrace}" archiveFileName="${basedir}/log/archives/${shortdate}.console.{#####}.${level}.log" archiveAboveSize="2097152" archiveNumbering="Sequence" maxArchiveFiles="10000000" concurrentWrites="true" keepFileOpen="false" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="asyncConsole" />
      <logger name="*" minlevel="Info" writeTo="asyncFile" />
    </rules>
  </nlog>
  <PoolNhibernateSection>
    <FileNameConfigaration>
    </FileNameConfigaration>
  </PoolNhibernateSection>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <bindings>
      <basicHttpBinding>
        <binding name="longMessageBindings" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="1073741824" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="rt.fias.services.FiasGate" behaviorConfiguration="GateBehavior2">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" contract="rt.core.model.interfaces.IAddressService" bindingNamespace="www.rintech.ru/srz" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GateBehavior2">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
