<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="PoolNhibernateSection" type="rt.core.model.configuration.PoolNhibernateSection, rt.core.model" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Data Source=syurov; Initial Catalog=rt_srz_demo;User ID=pvp;Password=elianora" providerName="" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="command_timeout">300</property>
      <mapping assembly="rt.srz.business" />
      <mapping assembly="rt.core.business" />
    </session-factory>
  </hibernate-configuration>
  <StructureMap>
    <Registry Type="rt.core.business.registry.CoreRegistry, rt.core.business" />
    <Registry Type="rt.core.business.registry.NHibernateRegistry, rt.core.business" />
    <Registry Type="rt.srz.business.registry.RepositoryRegistry, rt.srz.business" />
  </StructureMap>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncConsole" xsi:type="AutoFlushWrapper">
        <target xsi:type="ColoredConsole" name="console"
                layout="${logger}: ${message}${exception:format=ToString,StackTrace}">
        </target>
      </target>
      <target name="asyncFile" xsi:type="AutoFlushWrapper">
        <target name="file" xsi:type="File" fileName="log/console.${level}.log"
                layout="${longdate}: ${logger}: ${message}${exception:format=ToString,StackTrace}"
                archiveFileName="${basedir}/log/archives/${shortdate}.console.{#####}.${level}.log"
                archiveAboveSize="2097152" archiveNumbering="Sequence" maxArchiveFiles="10000000"
                concurrentWrites="true" keepFileOpen="false" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="asyncConsole" />
      <logger name="*" minlevel="Info" writeTo="asyncFile" />
    </rules>
  </nlog>
  <PoolNhibernateSection>
    <FileNameConfigaration>
    </FileNameConfigaration>
  </PoolNhibernateSection>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>