<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Common.Logging" Version="2.2.0" targetFramework="net40" />
  <package id="Common.Logging.Core" Version="2.2.0" targetFramework="net40" />
  <package id="Iesi.Collections" Version="4.0.1.4000" targetFramework="net40" />
  <package id="NHibernate" Version="4.0.1.4000" targetFramework="net40" />
  <package id="NLog" Version="3.1.0.0" targetFramework="net40" />
  <package id="NUnit" Version="2.6.3" targetFramework="net40" />
  <package id="protobuf-net" Version="2.0.0.668" targetFramework="net40" />
  <package id="Quartz" Version="2.2.4" targetFramework="net40" />
  <package id="structuremap" Version="2.6.4.1" targetFramework="net40" />
</packages>