<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ../Constants.wxi?>
  <Fragment>
    
    <DirectoryRef Id="INSTALLLOCATION" FileSource="$(var.BaseDir)Database\" DiskId="1">
      <Component Id="rt.srz.quartz.backup" Guid="*">
        <Condition>RTQUARTZ_DEPLOY</Condition>
        <File Id="rt_srz_quartz.bak" Name="rt_srz_quartz.bak" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="rt.quartz.database">
      <ComponentRef Id="rt.srz.quartz.backup"/>
    </ComponentGroup>
	
  </Fragment>
</Wix>