<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="Configuration\ConnectionStrings.config"/>
  <appSettings configSource="Configuration\AppSettings.config"/>
  <StructureMap configSource="Configuration\StructureMap.config"/>
  <nlog configSource="Configuration\NLog.config"/>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="UirGate.svc"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpEndpointName" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647"/>
        <binding name="longMessageBindings" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="1073741824">
          <reliableSession inactivityTimeout="01:00:00"/>
        </binding>
        <binding name="WSHttpBinding_IUIRGate">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IUIRGate" >
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="al.uir.services.UirGate" behaviorConfiguration="GateBehavior2">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IUIRGate" contract="UIRGateContract.IUIRGate"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <client>
      <endpoint address="http://172.18.1.15/UIRGate/UIRGateService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUIRGate" contract="UIRGateContract.IUIRGate" name="WSHttpBinding_IUIRGate"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientdebug">
          <callbackDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="GateBehavior2">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="GateBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceAuthenticationManager serviceAuthenticationManagerType="rt.core.services.challenge.TokenAuthenticationManager, rt.core.services"/>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="rt.core.services.challenge.ChallengeAuthorizationPolicy, rt.core.services"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="defaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ChallengeClientMessageInspector" type="rt.core.model.client.TokenMessageInspector, rt.core.model.client, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>