<?xml version="1.0"?>
<appSettings>
  <add key="IsNeedRedirectToMainPage" value="false" />
  <add key="KLADRControlType" value="Intellisense" />
  <add key="PhotoControlType" value="Upload" />
  <add key="COMPort" value="7" />
  <add key="MinimumPrefixLengthForAdress" value="1" />
  <add key="ProcExecTimeout" value="10800" />
  <add key="BeingInstalled" value="true" />
  <add key="IsOnline" value="true" />
  <add key="TimeToOnline" value="Дата: 28.03.2015, Время: 19:00" />
</appSettings>
  