<?xml version="1.0"?>
<connectionStrings>
  <add name="default" connectionString="Data Source=syurov; Initial Catalog=rt_srz_demo;User ID=pvp;Password=elianora" providerName="" /> 
  <add name="NHibernateCfgAtl.xml" connectionString="Data Source=syurov;Initial Catalog=atl_srz_empty;User ID=pvp;Password=elianora" />
  <add name="NHibernateCfgFias.xml" connectionString="Data Source=syurov;Initial Catalog=rt_fias_data;User ID=pvp;Password=elianora" />
</connectionStrings>   