<?xml version="1.0"?>
<exchangeSettings 
  WorkingFolderExchange="C:\workingExchange" 
  ProcesingMode="P" 
  ProcessedPath="C:\workingExchange\Processed" 
  FailedPath="C:\workingExchange\Failed"
  BackupOutputFolder="C:\workingExchange\backups" 
  DisconnectUsers="true"
  >
  <DirectoryWatchConfiguration>
    <add Path="D:\workingExchange\In"/>
  </DirectoryWatchConfiguration>
</exchangeSettings>
