<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="asyncConsole" xsi:type="AutoFlushWrapper">
      <target xsi:type="ColoredConsole" name="console" layout="${logger}: ${message}${exception:format=ToString,StackTrace}" />
    </target>
    <target name="asyncFile" xsi:type="AutoFlushWrapper">
      <target name="file" xsi:type="File" 
              fileName="${basedir}/log/console.${level}.log" 
              layout="${longdate}: ${logger}: ${message}${exception:format=ToString,StackTrace}" 
              archiveFileName="${basedir}/log/archives/${shortdate}.console.{#####}.${level}.log" 
              archiveAboveSize="2097152" archiveNumbering="Sequence" maxArchiveFiles="10000000" concurrentWrites="true" keepFileOpen="false" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="asyncConsole" />
    <logger name="*" minlevel="Info" writeTo="asyncFile" />
  </rules>
</nlog>
