<?xml version="1.0"?>
<ProtocolSettingsSection>
  <!--Секция для единых настроек библиотеки UecLib-->
  <Settings>
    <add Type="Output" Value="01" />
    <add Type="LogFile" Value="01" />
    <add Type="LogName" Value="Logfile.txt" />
    <add Type="Reader" Value="00" />
    <add Type="Card" Value="00" />
    <add Type="Cardlib" Value="01" />
    <add Type="Funclib" Value="00" />
    <add Type="Oplib" Value="00" />
    <add Type="TellMe" Value="00" />
    <add Type="Extern" Value="00" />
  </Settings>
</ProtocolSettingsSection>
