<?xml version="1.0"?>
<quartz>
  <!-- configure Thread Pool -->
  <add key="quartz.threadPool.instanceName" value="SrzScheduler" />
  <add key="quartz.threadPool.threadCount" value="100" />

  <!-- configure Scheduler -->
  <add key="quartz.scheduler.instanceId" value="instance_one" />
  
  <!-- configure Job Store -->
  <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
  <add key="quartz.jobStore.useProperties" value="true" />
  <add key="quartz.jobStore.dataSource" value="default" />
  <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
  <!--<add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz" />-->
  <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />

  <!-- configure Data Source -->
  <add key="quartz.dataSource.default.connectionString" value="Data Source=syurov; Initial Catalog=rt_srz_quartz;User ID=pvp;Password=elianora" />
  <add key="quartz.dataSource.default.provider" value="SqlServer-20" />

  <!-- configure jobs and triggers definition -->
  <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
  <add key="quartz.plugin.xml.fileNames" value="~/Configuration/QuartzJobs.config" />
</quartz> 
