<?xml version="1.0"?>
<SpecialCalendarDaysSection>
  <!--Секция для указания трудового календаря-->
  <specialCalendarDays>
    <!--2013-->
    <add Date="2013-01-01T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-01-02T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-01-03T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-01-04T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-01-07T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-01-08T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-03-08T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-05-01T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-05-02T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-05-03T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-05-09T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-05-10T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-06-12T00:00:00" Type="FreeWorkingDay" />
    <add Date="2013-11-04T00:00:00" Type="FreeWorkingDay" />
    <!--2014-->
    <add Date="2014-01-01T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-01-02T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-01-03T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-01-06T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-01-07T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-01-08T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-03-10T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-05-01T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-05-02T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-05-09T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-06-12T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-06-13T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-11-03T00:00:00" Type="FreeWorkingDay" />
    <add Date="2014-11-04T00:00:00" Type="FreeWorkingDay" />
    <!--2015-->
    <add Date="2015-01-01T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-01-02T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-01-05T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-01-06T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-01-07T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-01-08T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-01-09T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-02-23T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-03-09T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-05-01T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-05-04T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-05-11T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-06-12T00:00:00" Type="FreeWorkingDay" />
    <add Date="2015-11-04T00:00:00" Type="FreeWorkingDay" />
  </specialCalendarDays>
</SpecialCalendarDaysSection>
