<?xml version="1.0"?>
<StructureMap>
  <!--Регистрация бизнеслогики-->
  <Registry Type="rt.srz.database.registry.MigrationRegistry, rt.srz.database.migration" />
  <Registry Type="rt.core.business.registry.CoreRegistry, rt.core.business" />
  <Registry Type="rt.core.business.registry.NHibernateRegistry, rt.core.business" />
  <Registry Type="rt.core.business.registry.QuartzRegistry, rt.core.business" />
  <Registry Type="rt.core.business.security.registry.SecurityRepositoryRegistry, rt.core.business.security" />
  <Registry Type="rt.srz.business.registry.RepositoryRegistry, rt.srz.business" />
  <Registry Type="rt.atl.business.registry.RepositoryRegistry, rt.atl.business" />
  <!--Внутренняя регистрация сервисов-->
  <Registry Type="rt.core.service.security.registry.AuthServiceRegistry, rt.core.service.security" />
  <Registry Type="rt.srz.services.registry.ServicesRegistry, rt.srz.services" />
</StructureMap>
