<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <StructureMap>
    <!--Регистрация бизнеслогики-->
    <Registry Type="rt.core.business.registry.CoreRegistry, rt.core.business" />
    <!--Внутренняя регистрация сервисов-->
    <Registry Type="rt.srz.services.client.registry.ServicesRegistry, rt.srz.services.client" />
  </StructureMap>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncConsole" xsi:type="AutoFlushWrapper">
        <target xsi:type="ColoredConsole" name="console" layout="${logger}: ${message}${exception:format=ToString,StackTrace}">
        </target>
      </target>
      <target name="asyncFile" xsi:type="AutoFlushWrapper">
        <target name="file" xsi:type="File" fileName="log/console.${level}.log" layout="${longdate}: ${logger}: ${message}${exception:format=ToString,StackTrace}" archiveFileName="${basedir}/log/archives/${shortdate}.console.{#####}.${level}.log" archiveAboveSize="2097152" archiveNumbering="Sequence" maxArchiveFiles="10000000" concurrentWrites="true" keepFileOpen="false" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="asyncConsole" />
      <logger name="*" minlevel="Info" writeTo="asyncFile" />
    </rules>
  </nlog>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="longMessageBindings" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="1073741824" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="AuthGate" address="http://localhost:9000/AuthGate.svc/" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" contract="rt.core.model.security.IAuthService" />
      <endpoint name="SecurityGate" address="http://localhost:9000/SecurityGate.svc/" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.core.model.interfaces.ISecurityService" />

      <endpoint name="AtlGate" address="http://localhost:9000/AtlGate.svc/" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.atl.model.interfaces.service.IAtlService" />

      <endpoint name="AddressGate" address="http://localhost:9060/FiasGate.svc" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior2" contract="rt.core.model.interfaces.IAddressService" />
      <endpoint name="NsiGate" address="http://localhost:9000/NsiGate.svc/" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.INsiService" />
      <endpoint name="SmoGate" address="http://localhost:9000/SmoGate.svc/" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.ISmoService" />
      <endpoint name="StatementGate" address="http://localhost:9000/StatementGate.svc/" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.IStatementService" />
      <endpoint name="TfomsGate" address="http://localhost:9000/TfomsGate.svc/" binding="basicHttpBinding" bindingConfiguration="longMessageBindings" behaviorConfiguration="protoEndpointBehavior" contract="rt.srz.model.interfaces.service.ITfomsService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf />
          <ChallengeClientMessageInspector />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="protoEndpointBehavior2">
          <protobuf />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
        <add name="ChallengeClientMessageInspector" type="rt.core.model.client.TokenMessageInspector, rt.core.model.client, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>