<?xml version="1.0"?>

<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="longMessageBindings" closeTimeout="01:00:00" openTimeout="01:00:00"
          receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="1073741824" />
        <binding name="IntegrationServiceHl7V26Soap11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" behaviorConfiguration="protoEndpointBehavior"
        binding="basicHttpBinding" bindingConfiguration="longMessageBindings"
        contract="rt.uec.model.Interfaces.IUecService" />
      <endpoint address="http://172.18.1.43:8080/mis-integration/HL7V26"
        binding="basicHttpBinding" bindingConfiguration="IntegrationServiceHl7V26Soap11"
        contract="test.IntegrationServiceHl7V26" name="IntegrationServiceHl7V26Soap11" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <behaviorExtensions>
      <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
      <add name="ChallengeClientMessageInspector" type="rt.core.model.client.TokenMessageInspector, rt.core.model.client, Culture=neutral" />
    </behaviorExtensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>