<?xml version="1.0"?>
<!--BackupOutputFolder - путь для вывода файла бэкапа - на сервер бд или расшаренный сетевой, 
  DisconnectUsers - отключать ли пользователей в процессе бэкапа, 
  TimeBackup - время в которое каждый день запускается бэкап-->
<backupSettings BackupOutputFolder="E:\4mail" DisconnectUsers="true" TimeBackup="01:01">
</backupSettings>
