<?xml version="1.0"?>
<exchangeSettings WorkingFolderExchange="D:\workingExchange" ProcesingMode="P" ProcessedPath="D:\workingExchange\Processed" FailedPath="D:\workingExchange\Failed">
  <DirectoryWatchConfiguration>
    <add Path="D:\workingExchange\In"/>
  </DirectoryWatchConfiguration>
</exchangeSettings>
