<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <!--Пересчет ключей поиска-->
  <schedule>
    <job>
        <name>Пересчет ключей поиска</name>
        <group>Сервис</group>
        <description>Пересчет ключей поиска</description>
        <job-type>rt.srz.business.server.CalculateKeysJob, rt.srz.business</job-type>
        <durable>true</durable>
        <recover>false</recover>
     </job>
     <trigger>
        <simple>
          <name>Пересчет ключей поиска</name>
          <group>Сервис</group>
          <description>Пересчет ключей поиска</description>
          <job-name>Пересчет ключей поиска</job-name>
          <job-group>Сервис</job-group>
          <repeat-count>-1</repeat-count>         <!-- Повторяем всегда  -->
          <repeat-interval>5000</repeat-interval> <!-- Каждые 5 секунд -->
        </simple>
     </trigger>
  </schedule>

  <!--Поиск дубликатов по ключам-->
  <schedule>
    <job>
      <name>Поиск дубликатов по ключам</name>
      <group>Сервис</group>
      <description>Поиск дубликатов по ключам</description>
      <job-type>rt.srz.business.server.TwinsJob, rt.srz.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>Поиск дубликатов по ключам</name>
        <group>Сервис</group>
        <description>Поиск дубликатов по ключам</description>
        <job-name>Поиск дубликатов по ключам</job-name>
        <job-group>Сервис</job-group>
        <cron-expression>0 0 23 1/1 * ? *</cron-expression> <!--Каждый день в 23.00 по местному времени-->
      </cron>
    </trigger>
  </schedule>

  <!--Экспорт сообщений в СМО-->
  <schedule>
    <job>
      <name>Экспорт сообщений в СМО</name>
      <group>Взаимодействие с внешними системами</group>
      <description>Экспорт сообщений в СМО</description>
      <job-type>rt.srz.business.server.ExportSmoJob, rt.srz.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>Экспорт сообщений в СМО</name>
        <group>Взаимодействие с внешними системами</group>
        <description>Экспорт сообщений в СМО</description>
        <job-name>Экспорт сообщений в СМО</job-name>
        <job-group>Взаимодействие с внешними системами</job-group>
        <repeat-count>-1</repeat-count>           <!--Повторяем всегда-->  
        <repeat-interval>10000</repeat-interval>  <!--Каждые 10 секунд--> 
      </simple>
    </trigger>
  </schedule>

  <!--Формирование очереди задач для экспорта сообщений в СМО-->
  <schedule>
    <job>
      <name>Формирование очереди задач для экспорта сообщений в СМО</name>
      <group>Взаимодействие с внешними системами</group>
      <description>Формирование очереди задач для экспорта сообщений в СМО</description>
      <job-type>rt.srz.business.server.ExportSmoFormPoolJob, rt.srz.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>Формирование очереди задач для экспорта сообщений в СМО</name>
        <group>Взаимодействие с внешними системами</group>
        <description>Формирование очереди задач для экспорта сообщений в СМО</description>
        <job-name>Формирование очереди задач для экспорта сообщений в СМО</job-name>
        <job-group>Взаимодействие с внешними системами</job-group>
        <repeat-count>-1</repeat-count>           <!--Повторяем всегда-->  
        <repeat-interval>10000</repeat-interval>  <!--Каждые 10 секунд--> 
      </simple>
    </trigger>
  </schedule>

  <!--Первичная загрузка данных из типовой СРЗ-->
  <schedule>
    <job>
      <name>Первичная загрузка данных из типовой СРЗ</name>
      <group>Взаимодействие с внешними системами</group>
      <description>Первичная загрузка данных из типовой СРЗ</description>
      <job-type>rt.atl.business.quartz.FirstLoadingToPvpJob, rt.atl.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>Первичная загрузка данных из типовой СРЗ</name>
        <group>Взаимодействие с внешними системами</group>
        <description>Первичная загрузка данных из типовой СРЗ</description>
        <job-name>Первичная загрузка данных из типовой СРЗ</job-name>
        <job-group>Взаимодействие с внешними системами</job-group>
        <repeat-count>-1</repeat-count>         <!-- Повторяем всегда  -->
        <repeat-interval>5000</repeat-interval> <!-- Каждые 5 секунд -->
      </simple>
    </trigger>
  </schedule>

  <!--Синхронизация с типовой СРЗ-->
  <schedule>
    <job>
      <name>Синхронизация с типовой СРЗ</name>
      <group>Взаимодействие с внешними системами</group>
      <description>Синхронизация с типовой СРЗ</description>
      <job-type>rt.atl.business.quartz.SynchronizationToPvpJob, rt.atl.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>Синхронизация с типовой СРЗ</name>
        <group>Взаимодействие с внешними системами</group>
        <description>Синхронизация с типовой СРЗ</description>
        <job-name>Синхронизация с типовой СРЗ</job-name>
        <job-group>Взаимодействие с внешними системами</job-group>
        <cron-expression>0 0 19 1/1 * ? *</cron-expression> <!--Каждый день в 19.00 по местному времени-->
      </cron>
    </trigger>
  </schedule>

  <!--Инициализация прослушивателей файловой системы-->
  <schedule>
    <job>
      <name>Инициализация прослушивателей файловой системы</name>
      <group>Взаимодействие с внешними системами</group>
      <description>Инициализация прослушивателей файловой системы</description>
      <job-type>rt.core.business.directorywatcher.watch.WatchersJob, rt.core.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>Инициализация прослушивателей файловой системы</name>
        <group>Взаимодействие с внешними системами</group>
        <description>Инициализация прослушивателей файловой системы</description>
        <job-name>Инициализация прослушивателей файловой системы</job-name>
        <job-group>Взаимодействие с внешними системами</job-group>
        <repeat-count>-1</repeat-count>         <!--  Повторяем всегда  -->
        <repeat-interval>30000</repeat-interval> <!-- Каждые 30 секунд  При перезагрузке всегда стартует?-->
      </simple>
    </trigger>
  </schedule>

  <!--Загрузка пакетов-->
  <schedule>
    <job>
      <name>Загрузка пакетов</name>
      <group>Взаимодействие с внешними системами</group>
      <description>Загрузка пакетов</description>
      <job-type>rt.core.business.directorywatcher.processing.ProcessingFilesJob, rt.core.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>Загрузка пакетов</name>
        <group>Взаимодействие с внешними системами</group>
        <description>Загрузка пакетов</description>
        <job-name>Загрузка пакетов</job-name>
        <job-group>Взаимодействие с внешними системами</job-group>
        <repeat-count>-1</repeat-count>         <!-- Повторяем всегда  -->
        <repeat-interval>1000</repeat-interval> <!-- Каждые секунду-->
      </simple>
    </trigger>
  </schedule>

  <!--Бэкап базы данных-->
  <schedule>
    <job>
      <name>Бэкап базы данных</name>
      <group>Сервис</group>
      <description>Бэкап базы данных</description>
      <job-type>rt.core.business.server.bak.BackupJob, rt.core.business</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>Бэкап базы данных</name>
        <group>Сервис</group>
        <description>Бэкап базы данных</description>
        <job-name>Бэкап базы данных</job-name>
        <job-group>Сервис</job-group>
        <cron-expression>0 0 1 1/1 * ? *</cron-expression> <!--Каждый день в час после полуночи по местному времени-->
      </cron>
    </trigger>
  </schedule>

</job-scheduling-data>
