<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
    <section name="PoolNhibernateSection" type="rt.core.business.nhibernate.PoolNhibernateSection, rt.core.business" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="current_session_context_class">NHibernate.Context.ThreadStaticSessionContext</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <mapping assembly="rt.atl.business" />
    </session-factory>
  </hibernate-configuration>

  <connectionStrings>
    <add name="default"
         connectionString="Data Source=192.168.0.107;Initial Catalog=SRZ_SAMPLE;User ID=sa;Password=12345"
         providerName="" />
  </connectionStrings>

  <StructureMap>
    <Registry Type="rt.core.business.registry.CoreRegistry, rt.core.business" />
    <Registry Type="rt.core.business.registry.NHibernateRegistry, rt.core.business" />
    <Registry Type="rt.atl.business.registry.RepositoryRegistry, rt.atl.business" />
    <Registry Type="rt.srz.business.registry.RepositoryRegistry, rt.srz.business" />
  </StructureMap>
  <PoolNhibernateSection>
    <FileNameConfigaration />
  </PoolNhibernateSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>